@import url(http://fonts.googleapis.com/css?family=Purple+Purse);
* {
  box-sizing: border-box; }

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif; }

header {
  text-align: center;
  max-width: 600px;
  margin: 20px auto;
  border-bottom: 3px double #ccc;
  padding: 10px 0; }
  header h1 {
    font-family: "Purple Purse";
    font-size: 50px;
    line-height: 55px;
    color: #0d3299;
    margin: 0;
    padding: 0; }
  header p {
    color: #999; }

section {
  max-width: 600px;
  margin: auto; }

.member {
  border-top: 1px solid #eee;
  padding: 10px 0;
  margin-bottom: 20px; }
  .member img {
    float: left;
    max-width: 80px;
    max-height: 80px; }
  .member .details {
    padding-left: 90px; }
    .member .details h2 {
      font-size: 25px;
      line-height: 26px;
      font-weight: normal;
      margin: 0 0 10px 0;
      padding: 0; }
    .member .details .offices {
      margin-bottom: 10px; }
    .member .details p {
      font-size: 14px;
      line-height: 18px;
      margin: 0 0 4px 0;
      padding: 0; }
    .member .details a {
      color: #777;
      text-decoration: underline; }
      .member .details a:hover {
        color: #0d3299; }

form {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  text-align: center; }
  form input {
    font-size: 16px;
    padding: 4px 10px;
    border: 2px solid #ccc;
    border-radius: 4px; }
  form button {
    font-size: 16px;
    padding: 4px 10px;
    border: 2px solid #090;
    background: #0c0;
    color: white;
    border-radius: 4px; }
